*
{
    margin: 0px;
}
a
{
    /*saco el subrayado de los enlaces*/
    text-decoration: none;
    /*color: white;*/
}

header  
{
    background: url(images/header.jpg);
    width: 1900px;
    height: 1000px;
    padding: auto; 
    
}

.nosotros
{
    display: flex;
    flex-direction: row;

}
section
{
    padding: 5px;
}

.verde
{
    color: green;
}


